<header>
  <div class="header-logo">
  <a href="/top">自宅店舗</a>
  </div>
  <ul class="header-menus">
    <li>
    <a href="/about">自宅店舗とは</a>
    </li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>自分にあった最適な買い物を</h2>
    <p>商品に関する悩みを相談してみよう</p>
  </div>
</div>